<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </head>

  <body style = "background-color: rgb(24, 18, 18)">
    <legends topic="{{ topic }}" id = "titulo"></legends>
    <div class = "Contenido">
      <h2 id = "inicio">Contenido</h2>
      <ul>
        <li><a href = "#intro">Introducción</a></li>
        <li><a href = "#integrantes">Integrantes</a></li>
        <li><a href = "#discografia">Discografía</a></li>
        <li><a href = "#fuentes">Fuentes</a></li>
      </ul>
    </div>
    
    <div class = "Intro" id = "intro">
      <p>
        Daft Punk, dúo frances ,conformado por Guy-Manuel de Homem-Christo y  Thomas Bangalter, con inicios en 1993; Leyendas y pioneros del French-House.
      </p>
    </div>
    
    <div id = "integrantes">
      <div>
        <dl>
          <img id = "DaftPunkDuo" src = "https://cdn.jsdelivr.net/gh/drvillota/Taller1HTML@master/Docs/Integrantes/DaftPunkDuo.jpg">
          
          <dt><h3>Thomas Bangalter</h3></dt>
          <dd>
            <img src = "https://cdn.jsdelivr.net/gh/drvillota/Taller1HTML@master/Docs/Integrantes/Thomas%20Bangalter.jpg">
          </dd>
          
          <dt><h3>Guy-Manuel de Homem-Christo</h3></dt>
          <dd>
            <img src = "https://cdn.jsdelivr.net/gh/drvillota/Taller1HTML@master/Docs/Integrantes/Guy-Manuel%20de%20Homem-Christo.jpg">
          </dd>

          </dl>
      </div>
    </div>
    
    <div class = "Discografia" id = "discografia">
      <h2>Discografía</h2>
    </div> 
    
    <div class = "ContDiscografia">
      Imagenes discografía
    </div>
    
    <div class = "Fuentes" id = "fuentes">
      <h2>Fuentes</h2>
      <dl>
        <dt>Wikipedia</dt>
        <dd>
          <a href = "https://wikipedia.org/wiki/Daft_Punk">
            https://wikipedia.org/wiki/Daft_Punk
          </a>
        </dd>
      </dl>
    </div>
    <div>
      <a target = "_blank" href = "#intro">Inicio</a>
    </div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>
</div>
  </body>
</html>