<legends topic="{{ topic }}"> </legends>

<div class = "Contenido">
  <h2 id = "inicio">Contenido</h2>
  <ul>
    <li><a href = "#intro">Introducción</a></li>
    <li><a href = "#integrantes">Integrantes</a></li>
    <li><a href = "#discografia">Discografía</a></li>
    <li><a href = "#fuentes">Fuentes</a></li>
  </ul>
</div>

<div class = "Intro" id = "intro">
  <p>
    Daft Punk, dúo frances ,conformado por Guy-Manuel de Homem-Christo y  Thomas Bangalter, con inicios en 1993; Leyendas y pioneros del French-House.
  </p>
</div>

<div class = "Integrantes" id = "integrantes">
  Imagen Integrantes
</div> 

<div class = "Discografia" id = "discografia">
  <h2>Discografía</h2>
</div> 

<div class = "ContDiscografia">
  Imagenes discografía
</div>

<div class = "Fuentes" id = "fuentes">
  <h4>Fuentes</h4>
  <dl>
    <dt>Wikipedia</dt>
    <dd>
      <a href = "https://wikipedia.org/wiki/Daft_Punk">
        https://wikipedia.org/wiki/Daft_Punk
      </a>
    </dd>
  </dl>
</div>

<div>
  <a target = "_blank" href = "#intro">Inicio</a>
</div>